version: '3.1'
services:
  postgresql:    
    image: postgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: imdb
    volumes:
      - ./database:/docker-entrypoint-initdb.d/
